.slick-dots { position: relative; bottom: 0; margin: 0 0 20px; display: flex; justify-content: center; }
.slick-dots li { position: relative; display: inline-block; margin: 0 5px; padding: 0; width: auto; height: auto; }
.slick-dots li button { width: 10px; height: 10px; background: #f7f7f7; border-radius: 50%; padding: 0; margin: 0; }
.slick-dots li button:before { display: none; }
.slick-dots li.slick-active button { background: #edcd1f; }